<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LoginTest</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>contact</servlet-name>
    <servlet-class>servlets.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sell</servlet-name>
    <servlet-class>servlets.sellServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>browse</servlet-name>
    <servlet-class>servlets.BrowseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>auction</servlet-name>
    <servlet-class>servlets.GetAuction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bidding</servlet-name>
    <servlet-class>servlets.PlaceBid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>insertAnswer</servlet-name>
    <servlet-class>servlets.InsertAnswerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>time</servlet-name>
  	<servlet-class>servlets.InitServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sell</servlet-name>
    <url-pattern>/sellItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>browse</servlet-name>
    <url-pattern>/browseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>auction</servlet-name>
    <url-pattern>/auctionPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bidding</servlet-name>
    <url-pattern>/newBid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insertAnswer</servlet-name>
    <url-pattern>/newAnswer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>